<button class="btn btn-outline-success" (click)="viewCart()">{{title}}: <b>{{shoppingCartCounter}}</b></button>
<table *ngIf="showTable" class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Cantidad</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col"> - </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pro of cart">
          <td>
            <form #fcart="ngForm">
            <input type="number" class="form-control inline" [(ngModel)]="pro.quantity"
             name="quantityProduct" ngModel #quantityProduct = "ngModel">
            </form> 
          </td>
          <td>{{pro.name}}</td>
          <td>{{pro.price}}</td>
          <td>
              <button class="btn btn-outline-danger" (click)="dropCart(pro)">Quitar</button>
              &nbsp;
              <button class="btn btn-outline-info" (click)="changeQty(fcart, pro.id, cart)">Guardar Cantidad</button>
            </td>
      </tr>
    </tbody>
</table>
