<h4>Clasificación de Productos:</h4>
<ul  *ngFor="let category of categories">
    <li>
        {{category.name}}
        <ul *ngFor="let subcat of category.sublevels">
            <li>
                {{subcat.name}}
                <ul *ngFor="let _subcat of subcat.sublevels">
                    <li>
                        {{_subcat.name}}
                        <ul *ngFor="let __subcat of _subcat.sublevels">
                            <li>
                               <!-- <input type="checkbox" (click)="filter($event)" 
                                id="{{__subcat.name}}"> --> {{__subcat.name}}
                            </li>
                        </ul>
                    </li>
                </ul>    
            </li>
        </ul>
    </li>
</ul>
