<!--The content below is only a placeholder and can be replaced.-->

<header>
  <mat-toolbar color="primary">
      <p>Tiendas "El Baratón"</p>
  </mat-toolbar>
</header>

<section class="container">
  <div class="row">
    <mat-card class="col-md-4">
      <abe-categories></abe-categories>
    </mat-card> 
    <mat-card class="col-md-8">
      <abe-products></abe-products>
    </mat-card>
    
  </div>
</section>

<footer></footer>