/* You can add global styles to this file, and also import other style files */
@import "styles-variables";
abe-header {
    nav {
      width: 100%;
    }
    
    @media (min-width: map-get($grid-breakpoints, sm)) {
      nav {
        width: 80%;
      }
    }
  }
.inline {
  float: left;
  width: 80px;
}
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
