<abe-cart [shoppingCartCounter]="shoppingCartCounter" [cart]="cart"></abe-cart>
<div class="row">
  <mat-card class="col-md-4">
        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ordenar Por:
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="orderBy($event)">Precio</a>
              <a class="dropdown-item" (click)="orderBy($event)">Disponibilidad</a>
              <a class="dropdown-item" (click)="orderBy($event)">Cantidad</a>
          </div>
        </div>
        <p class="text-primary" *ngIf="ordered">
          Ordenado por {{order}}
        </p>
      
  </mat-card> <!-- we use mat-card instead of div -->
  <mat-card class="col-md-4">
      <div class="dropdown">
          <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filtrar Por:
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="filterUnavailables($event)">No Disponibles</a>
              <a class="dropdown-item" (click)="filterUnavailables($event)">Disponibles</a>
          </div>
        </div>
        <p class="text-info" *ngIf="filtered">
            Filtrado por {{filter}}
          </p>      
  </mat-card>
  <mat-card class="col-md-4">
      
        <p class="text-info">Rango de Precio</p>
        <form #f="ngForm">
          <input type="number" class="form-control inline" name="priceStart" ngModel #priceStart = "ngModel" placeholder="desde"   >
          <input type="number" class="form-control inline" name="priceFinish" ngModel #priceFinish = "ngModel" placeholder="hasta"  >
        </form>
        <br>
        <button type="button" (click)="filterPrice(f)" class="btn btn-success">FILTRAR</button>
      
  </mat-card>
  <div align="center"  *ngIf="filtered === true || ordered === true">
      <button type="button" (click)="reload();"
      class="btn btn-danger">Recargar</button>
  </div>
</div>

<table id="productTable" class="table table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th scope="col">Cantidad</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Categoria</th>
        <th scope="col">Carrito</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{product.quantity}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.sublevel}}</td>
        <td><button class="btn btn-outline-danger" (click)="addCart(product)">Agregar</button></td>
      </tr>
    </tbody>
</table>